body {
    margin: 0;
    font-family: monospace;
    font-size: small;
}

div.main {

}

header {
    height: 10vh;
    position: relative;
    border-bottom: dashed black 2px;
}

div#location {
    margin-left: 3vw;
    position: absolute;
    bottom: 2px;
}

div#greeting {
    margin-left: 60vw;
    position: absolute;
    bottom: 2px;
}

nav {
    float: left;

    width: 10vw;
    height: 80vh;

    border-right: dashed black 2px;
}

div#content {

    margin-left: 10vw;
    width: 89vw;

    height: 80vh;

    padding-left: 1vw;
    position: absolute;
}

footer {
    height: 10vh;
    margin-top: 78vh;
    border-top: dashed black 2px;
}

div.notification-container {

}

div.info-notification {
    color: white;
    background-color: green;
    width: 20vw;
}

div.error-notification {
    color: white;
    background-color: red;
    width: 20vw;
}

div#errorbox {
    color: white;
    background-color: red;
    width: 20vw;
}
.productTable {

}

.productTable #code {
    width: 60px;
}

.productTable #name {
    width: 300px;
}

.productTable #version {
    width: 20px;
}

div.autocomplete {
    color: blue;
    background-color: deepskyblue;
    width: 8em;
}
