body {
    margin: 0;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: small;
}

div.main {

}

header {
    height: 10vh;
    position: relative;
    border-bottom: dashed black 2px;
}

span#location {
    margin-left: 3vw;
    position: absolute;
    bottom: 2px;
}

nav {
    float: left;

    width: 10vw;
    height: 80vh;

    border-right: dashed black 2px;
}

div#content {

    margin-left: 10vw;
    width: 89vw;

    height: 80vh;

    padding-left: 1vw;
    position: absolute;
}

div.notification-container {

}

div.info-notification {
    color: white;
    background-color: green;
}

div.error-notification {
    color: white;
    background-color: red;
}

div#errorbox {
    color: white;
    background-color: red;
}
.productTable {

}

.productTable #code {
    width: 60px;
}

.productTable #name {
    width: 300px;
}

.productTable #version {
    width: 20px;
}
